/*
.container div{
  border: 1px solid black;
  padding: 4px;
}
*/

/*
  外部

  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 2px;
  box-shadow: 
    1px 1px 0 0 #000000, 
    inset 1px 1px 0 0 #dfdfdf; 

*/

/*
  內容區域是凹陷的

  background-color: #ffffff;
  border: 2px solid;
  border-color: #808080 #ffffff #ffffff #808080;
*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #008080;
}

.leaflet-container {
  width: 69%; /*60%*/
  height: 85vh;

  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 2px;
  box-shadow: 
    1px 1px 0 0 #000000, 
    inset 1px 1px 0 0 #dfdfdf; 
}

.sidebar{
  width: 17%; /*15%-18%*/
  height: 85vh;
  margin: 15px;
  margin-left: 30px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto; /*太長的話會給滑動條*/

  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 2px;
  box-shadow: 
    1px 1px 0 0 #000000, 
    inset 1px 1px 0 0 #dfdfdf;

  
  /* 關閉連字功能 */
  font-variant-ligatures: none;
}

.sidebar .section {
  padding: 15px;
  
  background-color: #ffffffef;
  border: 1px solid black;
  border-color: #808080 #ffffff #ffffff #808080;
  box-shadow: inset 1px 1px 0 0 #000000;
}


.user-info{
  height: 15%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  width: auto;
}

.status-bar{
  height: 25%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

  width: auto;

}

.settings-bar{
  height: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: auto;

}

.settings-bar ul {
  list-style-type: square;
  padding: 8px;
  padding-right: 0px;
}

.settings-bar ul li{
  margin-bottom: 10px;
}

.settings-bar ul li select{
  float: right;

  border-radius: 0px;
}

.settings-bar ul li select:focus{
  border-radius: 0px;
}

.settings-bar ul li select option{
  border-radius: 0px;
}

.settings-bar ul li select option:checked{
  border-radius: 0px;
}

.settings-bar ul li button{
  float: right;

  width: 50px;
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  
  box-shadow: 1px 1px 0 0 #000000;
  
  padding: 4px 10px;
  font-family: 'MS Sans Serif', 'Tahoma', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.settings-bar ul li button:active{

  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: inset 1px 1px 0 0 #000000;

  padding: 5px 9px 3px 11px;
}

.game-controls{
  height: 10%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
}

.game-controls button{
  float: right;
  margin: 10px;

  width: 60px;
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  
  box-shadow: 1px 1px 0 0 #000000;
  
  padding: 4px 10px;
  font-family: 'MS Sans Serif', 'Tahoma', sans-serif;
  font-size: 12px;
  cursor: pointer;

}

.game-controls button:active{
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-shadow: inset 1px 1px 0 0 #000000;

  padding: 5px 9px 3px 11px;
  
}
/*
.score{
  margin-top: auto; /*好像這樣可以置下
  margin-bottom: 10%;
}
*/